.details{
    background-color: $light-blue;  
    color:#fff;    
    .info{        
        font-weight: 400
    }   
    .website{
        a{
            color:#fff;
            text-decoration: none;
        }
    }
}