@import './colors';
@import './spinner';
@import './button.scss';
@import './transition';
@import './thead.scss';
@import './tbody.scss';
@import './details';
@import './pagination';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: $dark-blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.body-list:nth-child(odd) {
  background-color: $light-blue
}

button:focus,a:focus,input[type=text]:focus{
  box-shadow: none !important;;
}

